@rendermode RenderMode.InteractiveServer
@{
    var count = 0;
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    @if (listBanner == null)
    {
        <p><em>Carregando...</em></p>
    }
    else
    {
          <ol class="carousel-indicators">
                @foreach (var img in listBanner)
                {                    
                    <li data-target="#carouselExampleIndicators" data-slide-to="@(count - 1)" class="active"></li>
                }
          </ol>
          <div class="carousel-inner" style="height: 400px">
                @foreach (var img in listBanner)
                {
                    count ++;
                    var classes = count == 1 ? "carousel-item active" : "carousel-item";
                        <div class="@(classes)">
                            <img class="d-block w-100" src="@($"data:image/{img.Name.Substring(img.Name.LastIndexOf(".") + 1).ToUpper().Replace(".","")};base64, {img.Binary}")" alt="First slide">
                        </div>
                }    
          </div>
    }
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>